@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {
  a {
    @apply text-blue ;
  }
  .input-fields {
    @apply focus:outline-none;
    @apply flex-1;
    @apply w-[1%];
  }

  
 .input-fields-wrapper {
   @apply flex;
   
   @apply gap-x-4;
  @apply border-blue; 
    @apply border-0.5;
    @apply px-5;
    @apply py-5;
    @apply rounded;
    @apply rounded-custom-8px;
    @apply focus:outline-none; 
    @apply bg-white; 
    
} 
 .source-fields-wrapper {
  @apply flex;
   
  @apply gap-x-4;
 @apply border-blue; 
   @apply border-0.5;
   @apply px-15;
   @apply py-5;
   @apply rounded;
   @apply rounded-custom-8px;
   @apply focus:outline-none; 
   @apply bg-white; 
   
    }
    
    .Cardmanagementbuttons{
      @apply w-full py-custom-3 rounded-custom-8px drop-shadow-button-shadow drop-shadow-button-shadow-2 bg-white border border-white 
    }
    
    .Cardmanagementbuttons2{
      @apply w-full py-custom-3 rounded-custom-8px drop-shadow-button-shadow drop-shadow-button-shadow-2 bg-white border border-white 
    }
    .Cardmanagementbuttons3{
      @apply w-full py-custom-3 rounded-custom-8px drop-shadow-button-shadow drop-shadow-button-shadow-2 bg-white border border-white 
    }

    .first-container{
      @apply  h-custom-320 ;
      @apply relative ;
      @apply overflow-x-hidden;
      @apply flex;
      @apply flex-col;
      @apply items-center; 
    }
    .rounded-container{
      @apply  bg-custom-gradient-2 px-10 h-custom-620 w-custom-620 absolute bottom-0 z-[-1] rounded-full max-w-custom
    }
 .back-button{
  @apply bg-white p-1.5 px-2.5 rounded-full
}
.whatsnew-button{
  @apply bg-white py-2  px-2 rounded-full
}

}

.Top-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
