@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {
  a {
    @apply text-blue ;
  }
  .input-fields {
    @apply focus:outline-none;
    @apply flex-1;
    @apply w-[1%];
  }

  
 .input-fields-wrapper {
   @apply flex;
   
   @apply gap-x-4;
  @apply border-blue; 
    @apply border;
    @apply px-5;
    @apply py-5;
    @apply rounded;
    @apply rounded-custom-8px;
    @apply focus:outline-none; 
    @apply bg-white; 
    
} 
 .source-fields-wrapper {
  @apply flex;
   
  @apply gap-x-4;
 @apply border-blue; 
   @apply border;
   @apply px-15;
   @apply py-5;
   @apply rounded;
   @apply rounded-custom-8px;
   @apply focus:outline-none; 
   @apply bg-white; 
   
    
} 

}

.Top-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
